{% extends "base.html "%}

{% block title %}
    Vampire create
{% endblock title %}
{% block ghost %}
   <h1>add vampire</h1>

   <form class="" method="POST"> {% csrf_token %}
       <input type="text" name="name" placeholder="vampire name"><br>
       <input type="text" name="damage" placeholder="vampire damage"><br>
       <input type="text" name="health" placeholder="vampire health"><br>
       <input type="text" name="groups" placeholder="vampire groups"><br>


       <button type="submit">SAVE</button>
   </form>
{% endblock %}
